

.main{

    /* height: 100vh; */
   
    padding-top: 100px;
   
   

  



}

.main h1{
    text-align: center;
    font-size: 25px;
}

.input-div{
    
    display: flex;
   
    justify-content: center;

}
.input-div input{
    margin-top: 20px;
    width: 50%;
    height: 30px;
    border: 1px solid black ;
    border-radius: 10px;
    background-color: azure;
    text-align: center;
    
    
}
table{
    margin-top: 50px;
}


.span{
    font-size: 20px;
    color: black;
}

.drop-btn{
    background-color: white;
    border: none;

}

.drop-btn:hover{

    background-color: white;
    border:none;
}

.drop-menu{
    background-color: rgb(252, 253, 253);
    width: 10px;
  
}

.empty-div{

    width: 100%;
    height: 500px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-img{

    width: 250px;
    height: 250px;
    
}


/* @media (max-Width:1120px){

     .sapan{
        position: absolute;
        top: 156px;
        right: 100px;
     } */

.enter-btn{
    margin-left: 100px;
    border: none;
    background-color: blueviolet;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
    
}
h6{
    cursor: pointer;
}

.filter-box1-cat1{
    width: 80px;
    height: 80px;
    background-color:rgb(29, 93, 155) ;
    color: white;
   
    position: absolute;
      margin-left: 850px;
      margin-top: 30px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    
   
}

.togil{
    background-color: white;
    border: none;
}
.ficon{
    color: black;
}

.filter-opt{
    color:rgb(29, 93, 155);
    font-size: 15px;
}

@media ( max-width:820px){
    
    .filter-box{
        right: 80px;
    }
}












#icon{
    color: rgb(250, 110, 110);
}





.alert-box{

 width: 400px;
 height: 300px;
 background-color: white;
 position: absolute;
 top: 200px;
right: 40%;
border: 2px solid silver ;
border-radius: 20px;



}


.icon-alert-main{
    height: 100px;
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;

}


.waring-icon{
     
    color: orange;
    font-size: 50px;


}

.btngroup{

    margin-top: 55px;
}


.btn-back{

    margin-left: 70px;
    margin-right: 40px;
    background-color: red;
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.btn-conf{

    background-color: green;
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;

}


.tick-mark{
    color: green;
    font-size: 20px;
    
}


.paginationBttns{

    width: 90%;
    height: 40%;
    list-style: none;
    display: flex;
    justify-content: center;
}


.paginationBttns a{

    /* padding: 2px; */
    padding-left: 5px;
    padding-right: 5px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
    text-decoration: none;
   
}

.paginationBttns a:hover{

    color: white;
    background-color: #2b2eff;

}

.paginationActive a {

    color: white;
    background-color: #2b2eff;



}