




.main{

    /* height: 100vh; */
   
    padding-top: 100px;

  



}

.main h1{
    text-align: center;
    font-size: 25px;
}

.input-div{
    
    display: flex;
   
    justify-content: center;

}
.input-div input{
    margin-top: 20px;
    width: 50%;
    height: 30px;
    border: 1px solid black ;
    border-radius: 10px;
    background-color: azure;
    text-align: center;
    
    
}
table{
    margin-top: 50px;
}


.span{
    font-size: 20px;
}


/* @media (max-Width:1120px){

     .sapan{
        position: absolute;
        top: 156px;
        right: 100px;
     } */

.enter-btn{
    margin-left: 100px;
    border: none;
    background-color: blueviolet;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
    
}
h6{
    margin: 0;
    cursor: pointer;
}

.filter-box{
    width: 100px;
    height: 150px;
    background-color:rgb(29, 93, 155);
    color: white;
   
    position: absolute;
    right: 250px;
    top: 200px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
   
}
.filter-opt{
    color:rgb(29, 93, 155);
    font-size: 15px;
}

@media ( max-width:820px){
    
    .filter-box{
        right: 80px;
    }
}












#icon{
    color: rgb(250, 110, 110);
}

.tick-mark{

    color: green;
    font-size: 25px;
}

