
.main-home{
    height: 120vh;
    background-color: rgb(0, 159, 189);
    padding-top: 100px;
   
}

h1{
    
    text-align: center;
    
}
 .titles{
    font-size: 33px;
    text-align: center;
    color: white;
 }

p{
    text-align: center;
    margin-top: 150px;
    font-weight: bold;
    
    
}
.btn-home{
    border: none;
    border-radius: 5px;
    background-color: rgb(26, 93, 26);
    color: white;
    width: 200px;
    height: 40px;

}


#home-table-main{
    
    height: 400px;
   
   

}


table{
    text-align: center;
    
    
}
