



.main-login{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.formbox-login{

    width: 400px;
    height: 350px;
    background-color: rgb(159, 13, 127);
    border-radius: 20px;
}

h2{

    text-align: center;
    color: white;
}

.form-login{

     margin-top: 40px;
}

.form-login input{
    margin-left: 60px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.btn-login{

    margin-left: 150px;
    width: 100px;
    border: none;
    background-color: rgb(4, 4, 96);
    color: white;
    border-radius: 10px;
    height:30px ;
    font-weight: bold;
}

.icon-login{
    color: white;
    font-size: 50px;
    margin-left: 180px;
}

.a{
    margin-left: 120px;
    color: white;
    text-decoration: none;
    
    
}

.erricon{
    
    font-size: 20px;
    color: red;
    position: absolute;
    right: 630px;
   

   
}

.input-err-box{

    width: 300px;
    height: 30px;
    background-color: white;
   margin-left: 20px;

}

