


.navbar-main{

   background-color: aqua;
   position: fixed;
   width: 100%;
  

}

.title{
    margin-left: 10px;
    font-size: 25px;
}

.link{
    text-decoration: none;
    color: black;
}

.login{
    position: absolute;
    right: 50px;
    text-decoration: none;
}


.icon{

 font-size: 20px;
position: absolute;
right: 50px;
 
}


.login-text{
    position: absolute;
    right: 120px;
}


